@if (ViewData["Mensagem"] != null)
{
    <div class="alert-danger text-center">
        @ViewData["Mensagem"]
    </div>
}
<div class="text-left">
    <div>
        <h1>Dados dos Alunos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.any())
            {
                foreach(AlunoModel aluno in Model)
                {
            <tr>
                <th scope="row"> @aluno.Id</th>
                <td> @aluno.Nome</td>
                <td> @aluno.Idade</td>
                <td> @aluno.Contato</td>
                <td> @aluno.Email</td>
                <td> @aluno.Cep</td>
            </tr>
                }
            }


            <tr>
                <th scope="row">1</th>
                <td>Marcos Paulo de Souza Vicente</td>
                <td>17 anos</td>
                <td>(47) 9 9169-8915</td>
                <td>marcospaulodesouza1502@gmail.com</td>
                <td>88353-529</td>
                <td>
                    <div>
                        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Buscarcep" asp-route-cep="88353-529">Endereço</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Matheus Henrique</td>
                <td>17 anos</td>
                <td>(47) 99208-8572</td>
                <td>contato.theusp@gmail.com</td>
                <td>88353-529</td>
                <td>
                    <div>
                        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Buscarcep" asp-route-cep="88353-529">Endereço</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Matheus Fernandes da Silva</td>
                <td>22 anos</td>
                <td>(47) 9 8495-2089</td>
                <td>matheus.silva18@alunos.sc.senac.br</td>
                <td>88350-682</td>
                <td>
                    <div>
                        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Buscarcep" asp-route-cep="88350-682">Endereço</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar novo Aluno</a>
    </div>
</div>
